body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.container {
    width: 100%;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.card{
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 25px;
}

.card-body{
    padding-left: 15px;
    margin-top: -18px;
}

.card-preview{
    width: 152px;
    float: left;
}

.card-img {
    width: 152px;
    height: 200px;
}

a{
    text-decoration: none;
    color: #404040;
}

.detail-content{
    display: flex;
    padding-left: 100px;
    padding-top: 50px;
}

.book-content {
    padding-left: 15px;
}

.book-content h1, p{
    margin: 0;
    padding: 0;
}

.author {
    color: #888;
    margin-top: 5px;
    margin-bottom: 10px;
}

.book-description{
    max-width: 800px;
    margin-top: 15px;
    line-height: 1.3rem;
}

.book-img {
    width: 212px;
    height: 257px;
    float: left;
}