{% extends "public_template.html" %}

{% block content %} 

<div class="container">
    <div class="row">
        <div class="detail-content">
            
            <img class="book-img" src="../static/images/{{ book['preview'] }}" />
            <div class="book-content">
                <h1>{{ book['name'] }}</h1>
                <p class="author">{{ book['author'] }}</p>
                <p><strong>Publisher: </strong> {{ book['publisher'] }}</p>
                <p><strong>Release date: </strong> {{ book['year'] }}</p>
                <p><strong>Pages: </strong> {{ book['pages'] }}</p>
                <p class="book-description">{{ book['description'] }}</p>
            </div>
            
        </div>
        
    </div>
</div>

{% endblock %} 